// Buttons
//
// A majority of buttons in the site are built from the same base class.
//
// Markup: button.hbs
//
// .btn--warning   - Use this class to indicate that the button is the primary
//
// Style guide: components.button
.btn {
  border: 2px solid #fff;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  &--warning {
    border: 2px solid black;
  }
}